* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: pink;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.texts-box {
  width: 714px;
}
.big-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  color: palevioletred;
  font-weight: 800;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px 0px;
}
.sec {
  background-color: pink;
}
.img-box {
  text-align: center;
}
.oila {
  text-align: center;
  padding-top: 20px;
}
.end {
  text-align: center;
}
.oila-section {
  background-color: pink;
}
.q {
  background-color: white;
}
.site-img {
  border-radius: 20%;
}
.z {
  width: 400px;
}
.sectian {
  padding: 60px 0px;
  margin-bottom: 20px;
  gap: 20px;
}
.u {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
}
.info {
  text-decoration-line: none;
  color: black;
}
.btn {
  background-color: palevioletred;
  border: none;
  color: white;
  width: 188px;
  padding: 15px 5px;
  border-radius: 8px;
}
